/* General Reset */
body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a, a:active, a:focus, a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  user-select: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img, hr {
  border: none;
}

/* Font Definitions */
@font-face {
  font-family: 'FontAwesome';
  src: url('assets/fonts/fontawesome-webfont.eot');
  src: url('assets/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/fontawesome-webfont.woff2') format('woff2'),
       url('assets/fonts/fontawesome-webfont.woff') format('woff'),
       url('assets/fonts/fontawesome-webfont.ttf') format('truetype'),
       url('assets/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/kiyoh/fonts/gotham/GothamMedium.eot?#iefix');
  src: url('/assets/kiyoh/fonts/gotham/GothamMedium.svg#Gotham-Medium') format('svg'),
       url('/assets/kiyoh/fonts/gotham/GothamMedium.woff') format('woff'),
       url('/assets/kiyoh/fonts/gotham/GothamMedium.otf') format('opentype'),
       url('/assets/kiyoh/fonts/gotham/GothamMedium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Angelina';
  src: url('/assets/kiyoh/fonts/angelina/angelina.eot?#iefix');
  src: url('/assets/kiyoh/fonts/angelina/angelina#Angelina') format('svg'),
       url('/assets/kiyoh/fonts/angelina/angelina.woff') format('woff'),
       url('/assets/kiyoh/fonts/angelina/angelina.ttf') format('truetype');
  font-weight: 400;
}

/* Animations */
.ngDeleteAnimation.ng-leave {
  transition: all 0.5s ease;
}

.ngDeleteAnimation.ng-leave-active {
  opacity: 0;
  transform: scale3d(0, 0, 0);
}

.ngShowHideAnimation.ng-enter {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.ngShowHideAnimation.ng-enter-active {
  opacity: 1;
}

.ngShowHideAnimation.ng-leave {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.ngShowHideAnimation.ng-leave-active {
  opacity: 0;
}

/* Header */
.application-header {
  font-weight: 300;
  font-family: Gotham, Arial;
  display: block;
  background: #fff;
  color: #464343;
  z-index: 1;
}

.application-header .navigation-bar {
  height: 6.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.application-header .navigation-bar .navigation-bar-content {
  height: 100%;
  margin: 0 -1em;
  font-size: 0.875em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.application-header .navigation-bar .divider {
  display: block;
  background: #bfd730;
  height: 6px;
}

@media only screen and (min-width: 768px) {
  .application-header .navigation-bar .divider {
    height: 8px;
  }
}

@media only screen and (min-width: 1024px) {
  .application-header .navigation-bar .divider {
    height: 11px;
  }
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
  font-family: Gotham, Arial;
}

h1 {
  font-size: 2rem;
  line-height: 2.625rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

/* Container */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1250px;
  padding: 2.5rem 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* Buttons */
button {
  display: inline-block;
  border: none;
  outline: 0;
  cursor: pointer;
  line-height: 1;
  background: transparent;
  color: inherit;
  font: inherit;
  border-radius: 5px;
  padding: 0.5em 1em;
}

button.primary {
  background: #ed8c00;
  color: #fff;
}

button.primary:hover {
  background-color: #c97700;
}

button.secondary {
  background: #94be1c;
  color: #fff;
}

button.secondary:hover {
  background-color: #7c9f17;
}
